@mixin same-block-main {
  height: auto;
  position: relative;
  //min-height: 100vh;
  overflow: hidden;
  width: 100%;

  @media (max-width:768px) {
    height: auto;
  }
}

/****************************
 MEDIA QUERIES
*****************************/
@mixin desktop {
  @media (max-width: #{$mq-lg - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$mq-md - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mq-sm - 1px}) {
    @content;
  }
}

/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/

@mixin background-2x($path, $ext: "png", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");
  background-position: $pos;
  background-repeat: $repeat;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
  }
}
@mixin gradient($start, $end) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe8903+1,9648e7+100 */
  background: $start; /* Old browsers */
  background: -moz-linear-gradient(left, $start 1%, $end 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $start 1%,$end 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $start 1%,$end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8903', endColorstr='#9648e7',GradientType=1 ); /* IE6-9 */
}

@mixin textOverflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@mixin textMaxHeight($line-height, $lines) {
    line-height: $line-height;
    max-height: $line-height*$lines;
    -webkit-line-clamp: $lines;
}

@mixin textOverflowMultiLine($line-height, $lines) {
    @include textMaxHeight($line-height, $lines);
    @include textOverflow();
}




