// Flexbox grid variables
$mq-sm: 480px;
$mq-md: 768px;
$mq-lg: 1024px;
$minWidth1200: 1200px;

// Fonts
$base-font: 'CenturyGothic', sans-serif;
$base-font-bold: 'CenturyGothicBold';
$base-font-italic: 'CenturyGothic-Italic';
$base-font-italic-bold: 'CenturyGothic-BoldItalic';

// Color
$site-color: #9648e5;
$yellow-color: #fe8903;
$text: #414141;
$hover-text: #333333;
$light-text: #686969;
$dark-gray: #727273;
$light-gray: #d4d4d4;
$light-bg: #fafafa;
$white: #fff;
$color-fb: #3b5998;
$blue: #1ba7c4;
$color-you-tube: #ff0002;
$color-google: #ee0000;
$color-instagram: #de2183;
$yellow: #ffc107;
$green: #33aa38;
//animation

$transition: .3s;
$rotate-minus-top: translateY(-50%);
