html,
body,
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.5;
    font-family: $base-font;
    font-size: 16px;
    color: $text;
    position: relative;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*body {
    @media screen and (max-width: 840px){
        overflow: hidden;
    }
}*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: $transition;
    color: $text;

    &:hover {
        text-decoration: none;
        color: $site-color;
    }

    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

p {
    word-wrap: break-word;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main,
.main {
    flex: 1 0 auto;
}

.container {
    max-width: 1300px;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
        max-width: 100%;
    }
}

input {
    background: $light-bg;
    outline: none;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    width: 100%;

    @include media-breakpoint-down(sm) {
        margin-bottom: 15px;
    }

    &:focus,
    &:active {
        outline: none;
    }
}

textarea {
    resize: none;
    @extend input;
}

.section {
    padding-top: 50px;

    @include media-breakpoint-down(md) {
        padding-top: 30px;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 20px;
    }
}

.text-site {
    color: $site-color;
}

.title-section {
    display: inline-block;
    font-size: 30px;
    color: $text;
    padding-bottom: 2px;
    border-bottom: 1px solid $text;
    font-family: $base-font-bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-down(sm) {
        font-size: 25px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 22px;
    }
}

.link-news {
    @include media-breakpoint-down(md) {
        margin-left: 10px;
    }

    &:after {
        content: $icon-next;
        font-family: '#{$icomoon-font-family}';
    }
}

.title {
    font-size: 30px;
    color: #302f2f;

    @include media-breakpoint-down(md) {
        font-size: 25px;
        line-height: 30px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 22px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 19px;
        line-height: 25px;
    }
}

h3 {
    font-size: 22px;
    margin: 0;
}

.filter-content {
    @include media-breakpoint-down(sm) {
        height: 0;
        opacity: 0;
        transition: $transition;
    }

    &.open {
        @include media-breakpoint-down(sm) {
            height: auto;
            opacity: 1;
        }
    }
}

.flex20 {
    flex: 0 0 20%;
    max-width: 20%;

    @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.flex80 {
    flex: 0 0 80%;
    max-width: 80%;

    .col-md-3 {
        padding-right: 20px;
        padding-left: 20px;
    }

    @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
