.footer-content {
    padding-top: 25px;
    border-top: 1px solid $site-color;

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.footer {
    &__item {
        border-left: 1px solid #e9e9e9;

        @include media-breakpoint-down(sm) {
            border: 0;
        }

        .tel-box {
            display: none;
            position: relative;
            position: relative;

            &:before {
                @include media-breakpoint-down(sm) {
                    position: absolute;
                    top: 43%;
                    left: 10%;
                }
            }

            .mail {
                display: block;
                font-size: 16px;
                border: 0;
                margin-bottom: 8px;
            }

            @include media-breakpoint-down(sm) {
                padding: 0;
            }

            .dropdown-tel {
                font-size: 20px;
                border: 0;

                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                }
            }

            @include media-breakpoint-down(sm) {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            &:before {
                @include media-breakpoint-down(sm) {
                    font-size: 20px;
                }
            }

            &:after {
                position: absolute;
                content: '';
                width: 25%;
                height: 1px;
                background: #a9a9a9;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
            }

            a {
                font-size: 14px;
            }
        }
    }
}

.footer-menu {
    color: $text;
    font-size: 16px;

    li {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            &:hover {
                color: $hover-text;
                text-shadow: 0 0 .65px $hover-text, 0 0 .65px $hover-text;
            }
        }
    }
}

.work-time {
    position: relative;
    display: flex;
    align-items: center;
    color: $text;
    font-size: 16px;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        margin-bottom: 20px;
    }

    &:before {
        content: $icon-clock-two;
        font-family: '#{$icomoon-font-family}';
        color: $site-color;
        margin-right: 10px;

        @media screen and (max-width: 840px) {
            margin-right: 0;
        }
    }

    &:after {
        @media screen and (max-width: 840px) {
            position: absolute;
            content: '';
            width: 25%;
            height: 1px;
            background: #a9a9a9;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.contact-footer {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media-breakpoint-down(sm) {
        text-align: center;
        display: none;
    }

    a {
        display: block;
        color: $text;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.social {
    display: flex;
    align-items: center;
    margin-top: 39px;

    @include media-breakpoint-down(sm) {
        justify-content: center;
    }

    a {
        color: $dark-gray;
        margin-left: 20px;
        margin-bottom: 0;

        &:hover {
            color: $site-color;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &__icon {
        font-size: 30px!important;
    }
}

.copyright {
    font-size: 12px;
    color: $text;
    text-align: center;
    padding: 35px 0 20px 0;
}
