.header-top-mobile {
    display: none;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;

    .logo {
        width: 92px;
        margin: 0 0 0 35px;
    }

    @media screen and (max-width: 840px) {
        display: flex;
    }

    .cart-box {
        flex: 0 0 auto;
        padding: 5px;
    }


    .cart {
        font-size: 18px;
        line-height: 14px;
        &__counter {
            min-width: 14px;
            height: 14px;
            font-size: 8px;
            line-height: 8px;
        }
    }
}

.index-slider-mobile {
    display: none;

    @media screen and (max-width: 840px) {
        display: block;
    }

    .index-slider {
        &__item {
            height: 180px;

            @include media-breakpoint-down(sm) {
                height: auto;
            }
        }

        img {
            max-width: 100%;
        }
    }
}

.menu-icon-box {
    display: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    z-index: 5;

    &.open {
        position: fixed;
        left: auto;
        right: calc(17vw - 30px);
        background: $white;
        width: 40px;
        height: 50px;

        @include media-breakpoint-down(sm) {
            right: calc(15vw - 40px);
            top: 0;
        }

        @include media-breakpoint-down(xs) {
            right: calc(10vw - 24px);
        }

        .menu-icon {
            display: inline-block;
            transform: rotate(135deg);
            background: $light-text;

            &:after{
                width: 0;
                transition: $transition;
            }

            &:before {
                width: 20px;
                top: 0;
                transition: $transition;
                background: $light-text;
                transform: rotate(-90deg);
            }
        }
    }

    @include media-breakpoint-down(sm) {
        display: flex;
    }
}

.menu-icon {
    position: relative;
    width: 20px;
    height: 2px;
    background: $site-color;

    &:before,
    &:after {
        content: '';
        height: 2px;
        width: 20px;
        position: absolute;
        left: 0;
        border-radius: 2px;
        background: $site-color;
        transition: $transition;
    }

    &:before {
        top: -5px;
    }

    &:after {
        bottom: -5px;
    }
}
