//HEADER TOP
.logo {
    margin-bottom: 10px;
}

.header-top {
    padding: 10px 0 0 15px;

    @media screen and (max-width: 840px) {
        display: none;
    }
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .dropdown {
        &.show {
            .lang-dropdown {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.login {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    margin-left: 20px;

    &__icon {
        margin-right: 5px;
        color: $site-color;
        font-size: 16px;
    }

    &:hover {
        color: $hover-text;
    }
}

.lang {
    .dropdown-menu {
        min-width: 3rem;
    }

    .dropdown-item {
        color: $text;
        font-size: 14px;
    }

    .dropdown-custom {
        &:hover {
            color: $text;
            opacity: 1;
        }
    }
}

.dropdown-custom {
    font-size: 14px;
    line-height: 14px;
    border: 0;
    background: transparent;
    color: $text;

    &:after {
        content: $icon-down-arrow;
        display: inline-block;
        font-family: '#{$icomoon-font-family}';
        font-size: 10px;
        color: $site-color;
        transition: $transition;
    }
}

//Header bottom
.header-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 300px 1 1;
    border: 1px solid #cccccc;
    border-right: 0;
    border-left: 0;

    @include media-breakpoint-down(sm) {
        margin: 0 -15px;
    }

    .tel-box,
    .search-box,
    .cart-box {
        @media screen and (max-width: 840px) {
            display: none;
        }
    }
}

.category-select {
    flex: 0 0 300px;
    width: 300px;

    @media screen and (max-width: 840px) {
        flex: 0 0 100%;
        width: 100%;
    }
}

.cart-box,
.search-box,
.tel-box {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 1px;
}

.tel-box {
    display: flex;
    align-items: center;
    padding-left: 30px;
    flex: 200px 0 0;

    &:before {
        content: $icon-phone;
        font-family: '#{$icomoon-font-family}';
        color: $site-color;
        font-size: 25px;
        margin-right: 15px;
    }
    a,
    .dropdown-tel {
        border-bottom: 1px dashed $site-color;
        padding-right: 0;
        padding-left: 0;

        &:hover {
            color: $text;
            opacity: 1;
        }
    }
}

.input-search-box {
    position: relative;
    border: 1px solid #a9a9a9;
    color: rgba(105, 105, 105, 0.58);
    font-size: 14px;
    border-radius: 4px;
    margin: auto 20px;

    &.open {
        @include media-breakpoint-down(md) {
            height: auto;
            opacity: 1;
        }
    }

    @include media-breakpoint-down(md) {
        position: absolute;
        top: 87%;
        left: 31.5vw;
        background-color: #fff;
        width: 63vw;
        z-index: 3;
        border-radius: 0;
        height: 0;
        opacity: 0;
        transition: $transition;
    }

    @media screen and (max-width: 840px) {
        width: 100%;
        left: 0;
        top: 90%;
        margin: auto;
    }

    @include media-breakpoint-down(xs) {
        left: -15px;
        width: 110%;
    }
}

.search-box {

    @include media-breakpoint-down(md) {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__input {
        border: 0;
        width: 100%;
        height: 100%;
        padding: 8px 35px 9px 10px;
        border-radius: 4px;
        background: transparent;

        @include media-breakpoint-down(sm) {
            margin: 0;
        }
    }

    &__icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: $dark-gray;

        @include media-breakpoint-down(md) {
            color: $site-color;
        }
    }
}

.search-mobile {
    display: none;
    position: relative;
    border: 1px solid #a9a9a9;
    color: rgba(105, 105, 105, 0.58);
    font-size: 28px;
    padding: 2px 8px;
    background-color: #fff;
    z-index: 4;
    transition: $transition;

    &.open {
        border-bottom-color: transparent;

        @media screen and (max-width: 840px) {
            border: 1px solid #a9a9a9;
            border-bottom-color: transparent;
            border-top-color: transparent;
        }
    }

    @include media-breakpoint-down(md) {
        display: block;
    }

    @media screen and (max-width: 840px) {
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        font-size: 17px;
        height: 55px;
    }
}

.cart-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 220px;
    padding: 5px 20px;

    @include media-breakpoint-down (md) {
        padding-left: 35px;
    }

    @include media-breakpoint-down(sm) {
        padding-left: 20px;
    }

    &__link {
        color: $dark-gray;
        font-size: 32px;
    }
}

.cart {
    position: relative;

    &__counter {
        position: absolute;
        top: -1px;
        right: -10px;
        min-width: 20px;
        max-width: 25px;
        height: 20px;
        color: $white;
        border-radius: 50%;
        border: 1px solid $white;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        background: $site-color;
        padding: 2px;
    }
}
