.breadcrumb {
    background: transparent;
    padding: 30px 0;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        padding: 10px 0;
    }
}

.breadcrumb-item {
    align-items: center;

    &.active {
        @include media-breakpoint-down(sm) {
            font-size: 13px;
        }
    }

    a {
        color: $site-color;

        @include media-breakpoint-down(sm) {
            font-size: 13px;
        }
    }
}

/*.breadcrumb-item {
    + .breadcrumb-item {
        @include media-breakpoint-down(sm) {
            padding-left: 0;
        }

        &:before {
            @include media-breakpoint-down(sm) {
                padding-right: 0;
            }
        }

    }
}*/
