button {
    cursor: pointer;
    background: $site-color;
    border: 0;
    border-radius: 0;
    color: $white;
    border: 1px solid $site-color;

    &:focus {
        outline: none;
    }

    &:hover {
        color: $white;
        opacity: 0.8;
    }
}

.btn {
    @extend button;
    padding: 13px 30px;

    &:hover {
        color: $white;
        opacity: 0.8;
    }
}

.btn-light {
    color: $text;
    background: transparent;

    &:hover {
        background: $site-color;
        border-color: $site-color;
    }
}

.btn-link {
    background: transparent;
    border: 0;
    color: $site-color;
    padding: 5px 0 2px 0;
    text-decoration: underline;

    &:hover {
        color: $text;
    }
}
