.dropdown-category-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 0;
    color: $white;
    padding: 20px 25px;
    font-size: 18px;
    margin-top: -1px;
    @include gradient($yellow-color, $site-color);

    &:hover {
        color: $white;
        opacity: 1;

        @include media-breakpoint-down(sm) {
            color: $text;
        }
    }

    @media screen and (max-width: 840px) {
        position: relative;
        background: transparent;
        color: $text;
        padding: 10px 20px;
        justify-content: flex-start;
    }

    &:before {
        @media screen and (max-width: 840px) {
            content: $icon-menu;
            font-family: '#{$icomoon-font-family}';
            color: $white;
            border-radius: 50px;
            width: 34px;
            height: 34px;
            line-height: 34px;
            @include gradient($yellow-color, $site-color);
            margin-right: 15px;
        }
    }

    &:after {
        content: $icon-menu;
        font-family: '#{$icomoon-font-family}';
        color: $white;

        @media screen and (max-width: 840px) {
            position: absolute;
            top: 50%;
            right: 20px;
            display: inline-block;
            content: $icon-down-arrow;
            font-family: '#{$icomoon-font-family}';
            color: #ccc;
            transform: translateY(-50%) rotate(-90deg) ;
        }
    }
}

.dropdown-category {
    position: relative;

    &.show {
        .dropdown-category-btn {
            &:after {
                @include media-breakpoint-down(sm) {
                    content: $icon-times-solid;
                }
            }
        }
    }

    .dropdown-menu {
        background: $light-bg;
        width: 100%;
        border: 0;
        border-radius: 0;
        padding: 0;

        @include media-breakpoint-down(sm) {
            position: relative !important;
            transform: translate3d(0px, 0px, 0px) !important;
        }
    }

    &__item {
        padding: 0 1.5rem;
        line-height: 1.2;

        &:hover {
            .dropdown-menu-content {
                display: flex;
            }
        }

        &:hover {
            .dropdown-category__link {
                text-shadow: 0 0 .65px $hover-text, 0 0 .65px $hover-text;
                color: $hover-text;

                &:after {
                    background: $site-color;
                    color: $white;
                }
            }
        }

        &:last-child {
            .dropdown-category__link {
                border-bottom: 0;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15.5px 0;
        border-bottom: 1px solid #f2f2f2;
        transition: $transition;

        &:after {
            content: $icon-next;
            font-family: '#{$icomoon-font-family}';
            width: 20px;
            height: 20px;
            color: #b6b6b6;
            background: #f2f2f2;
            border-radius: 3px;
            line-height: 20px;
            text-align: center;
            font-size: 10px;
        }
    }
}


.dropdown-menu-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: $light-bg;
    padding: 20px 30px;
    width: calc(100vw - 500px - 200px);
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        font-size: 16px;

        ul {
            margin-bottom: 15px;

            li {
                margin-bottom: 5px;
            }
        }
    }
}
.list-title {
    color: $site-color;
    font-size: 16px;
    font-weight: bold;

    a {
        @extend .list-title;
    }
}

