.filter {
    &__head {
            @extend .accordion-news__head;
        color: $site-color!important;
        font-size: 18px;

        &:hover {
            color: $site-color!important;
        }
    }

    &__content {
        background-color: $light-bg;
        padding: 15px;
        max-height: 250px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: #e9e9e9;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #d2d2d2;
            outline: 1px solid #e9e9e9;
        }
    }

    .custom-checkbox {
        display: block;
        cursor: pointer;
        font-size: 14px;

        span {
            display: flex;
            align-items: center;

            &:before {
                content: '';
                border: 2px solid rgb(228, 231, 239);
                border-radius: 5px;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 10px;
                font-family: '#{$icomoon-font-family}';
                text-align: center;
                line-height: 18px;
                font-size: 10px;
                color: $white;
                cursor: pointer;
            }
        }

        input {
            position: absolute;
            opacity: 0;
            z-index: -1;

            &:checked {
                + span {
                    &:before {
                        border-color: $site-color;
                        background-color: $site-color;
                        content: $icon-check;
                    }
                }
            }
        }
    }

    .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single,
    .irs--flat .irs-bar,
    .irs--flat .irs-handle > i:first-child {
        background-color: $site-color;
    }

    .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
        border-top-color: $site-color;
    }

    .irs-from, .irsato, .irs-single,
    .irs-to {
        top: auto;
        bottom: -50px;

        &:before {
            top: -6px;
            transform: rotate(-180deg);
        }
    }

    .irs-handle.from,
    .irs-handle.to {
        width: 15px;
        height: 15px;
        background-color: $white;
        border-radius: 50%;
        color: $site-color;
        font-size: 8px;
        text-align: center;
        line-height: 15px;
        box-shadow: 1px 1.732px 6px 0px rgba(0, 0, 0, 0.2);

        i {
            opacity: 0;
        }

        &:before {
            content: $icon-menu;
            font-family: '#{$icomoon-font-family}';
        }
    }

    .irs-min,
    .irs-max {
        visibility: visible !important;
    }
}


