.filter-selected {
    margin-bottom: 10px;

    &__title {
        font-size: 14px;
        color: $site-color;
    }

    &__content {
        background-color: $light-bg;
        padding: 15px;
        text-align: center;
    }
}

.filter-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        color: $site-color;

        .filter-link__icon {
            background-color: $site-color;
            color: $white;
        }
    }

    &__icon {
        display: inline-block;
        width: 18px;
        height: 18px;
        line-height: 20px;
        border-radius: 4px;
        text-align: center;
        color: $light-text;
        font-size: 7px;
        background-color: #f2f2f2;
        margin-right: 5px;
    }

    &__clear {
        display: inline-block;
        background-color: $site-color;
        color: $white;
        padding: 5px 20px;
        margin-top: 8px;
        font-size: 12px;

        &:hover {
            color: $white;
            opacity: 0.8;
        }
    }
}
