.goods-box {
    position: relative;
    overflow: hidden;
    min-height: 315px;
    z-index: 10;
    margin-top: 25px;

    @include media-breakpoint-down(sm) {
        text-align: center;
    }

    &:hover {
        overflow: visible;
        z-index: 12;
    }

    &.inactive {
        .goods__title,
        .goods__img,
        .goods-actions,
        .action-code {
            opacity: 0.6;
        }

        .report {
            opacity: 1;
        }
        &:hover {
            overflow: hidden;

            .goods-hover {
                display: none;
            }
        }

        .goods-price {
            display: none;
        }
    }
}

.goods{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    display: block;
    background: $white;
    padding: 30px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: $transition;

    &:hover {
        .goods-hover {
            display: block;
        }

        .goods__title {
            color: $site-color;
        }

        .goods-actions,
        .price-action__old {
            color: $text;
        }
    }

    &__img {
        object-fit: cover;
        height: 135px;
        margin: auto auto 15px auto;
    }

    &__title {
        font-size: 14px;
        color: $text;
        @include textOverflowMultiLine(20px, 2);
        min-height: 40px;
        margin: 10px 0;
        text-align: left;
    }

    &__rating {
        margin-right: -10px;

        @include media-breakpoint-down(sm) {
            margin-right: 0;
        }

        .icon-star {
            color: $light-gray;
            font-size: 14px;
        }
    }

    &__icon {
        display: flex;
        align-items: center;

        span {
            font-size: 12px;
            margin-left: 3px;
        }
    }
}

.goods-visible {
    display: block;
    padding-bottom: 15px;
    text-align: center;
}

.goods-hover {
    display: none;
    padding-top: 10px;
    border-top: 1px solid $light-gray;
    z-index: 11;

    span {
        font-size: 12px;
        color: $text;
    }
}

.goods-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-code {
    display: block;
    color: $hover-text;
    font-size: 12px;
    text-align: left;
}

.goods-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    &__number {
        color: $hover-text;
        font-size: 22px;
        font-family: $base-font-bold;
    }

    &__cart {
        width: 40px;
        height: 40px;
        background-color: $site-color;
        color: $white;
        text-align: center;
        line-height: 40px;
        transition: $transition;

        &:hover {
            color: $white;
            opacity: 0.8;
        }
    }
}

.report {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    &__icon {
        @extend .goods-price__cart;
        cursor: pointer;
        background: #5647e8;
    }
}


.price-action {
    &__new {
        display: block;
        color: #fc0404;
        font-size: 22px;
        font-family: $base-font-bold;
    }

    &__old {
        display: block;
        font-size: 14px;
        text-decoration: line-through;
    }
}
