.index-slider-container {
    display: flex;
    justify-content: flex-end;

    .index-slider {
        @media screen and (max-width: 840px) {
            display: none;
        }
    }
}

.index-slider {
    position: relative;
    width: calc(100% - 300px);

    @include media-breakpoint-down(md) {
        width: 100%;
    }

    &__item {
        height: 520px;

        @include media-breakpoint-down(md) {
            height: auto;
        }
    }

    img {
        object-position: left center;
        object-fit: contain;
        min-height: 100%;
        max-width: 110%;
    }

    .slick-dots {
        bottom: 10px;
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.slick-prev,
.slick-next {
    width: 27px;
    height: 42px;
    border: 0;
    color: $light-gray;
    background: transparent;

    &:hover {
        background: $site-color;
    }
}

.slick-next {
    right: 0;
    left: auto;
    border-radius: 0 3px 3px 0;
}

.slick-prev {
    left: 0;
    right: auto;
    border-radius: 3px 0 0 3px;

    i {
        display: inline-block;
        transform: rotate(180deg);
    }
}

.slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    li {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }

        button {
            background: $light-gray;
            border: 0;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            font-size: 0;
            display: inline-block;
            padding: 0;
        }
    }

    .slick-active {
        button {
            background: $site-color;
        }
    }
}
