.header-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    li {
        margin-left: 40px;

        @media screen and (max-width: 1300px) {
            margin-left: 30px;
        }

        @include media-breakpoint-down(lg) {
            margin-left: 20px;
        }

        @include media-breakpoint-down(md) {
            margin-left: 10px;
        }

        a {
            font-size: 16px;
            transition: text-shadow .3s;

            @media screen and (max-width: 1100px) {
                font-size: 14px;
            }

            @media screen and (max-width: 895px) {
                font-size: 13px;
            }

            &:hover {
                color: $hover-text;
                text-shadow: 0 0 .65px $hover-text, 0 0 .65px $hover-text;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }
}
