.menu-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background: #fafafa;
    transition: $transition;
    width: 80vw;
    height: 100vh;
    overflow: auto;
    z-index: 20;

    @include media-breakpoint-down(sm) {
        width: 85vw;
    }

    &.open {
        left: 0;
    }

    &__head {
        display: flex;
        align-items: center;
        padding: 10px 10px 10px 40px;
        @include gradient($yellow-color, $site-color);

        @include media-breakpoint-down(xs) {
          padding-left: 20px;
        }

        .login {
            margin: 0;
        }

        a, span {
            color: $white;
            font-size: 14px;

            &:before {
                color: $white;
            }
        }
    }

    &__content {
        padding: 10px 10px 10px 40px;

        @include media-breakpoint-down(xs) {
            padding-left: 20px;
        }

        ul {
            li {
                margin-bottom: 10px;

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .tel-box {
            padding: 0;
            flex: 0 0 0;

            &:before {
                color: $light-text;
                font-size: 23px;
                margin-right: 10px;
            }

            a {
                border: 0;
                font-size: 16px;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding: 10px 10px 10px 40px;
        @include gradient($yellow-color, $site-color);

        @include media-breakpoint-down(xs) {
            padding-left: 20px;
        }

        a, span {
            color: $white;
            font-size: 14px;

            @include media-breakpoint-down(sm) {
                font-size: 12px;
            }
        }
    }

    &__icon {
        font-size: 23px;
        color: $light-text;
        margin-right: 10px;
    }

    .border-menu {
        border-bottom: 1px solid #cccccc;
    }
}
