.sidebar {
    background: $light-bg;
    padding-bottom: 20px;

    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    &__row {
        &:first-child {
            @include media-breakpoint-down(sm) {
                order: 2;
            }
        }
    }

    &__title {
        @include gradient($yellow-color, $site-color);
        padding: 3px;
        font-size: 18px;

        @include media-breakpoint-down(md) {
            font-size: 15px;
        }

        span {
            display: block;
            text-align: center;
            padding: 10px;
            background: $light-bg;

            @include media-breakpoint-down(md) {
                padding: 10px 0;
            }
        }
    }

    &__mail {
        position: relative;
        border: 1px solid #a9a9a9;
        border-radius: 3px;
        margin: 20px auto;
        max-width: 250px;

        input {
            width: 100%;
            padding: 7px 20px 7px 10px;
            border: 0;
            background: transparent;

            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
            }
        }

        .icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            color: $site-color;
        }
    }

    .social {
        margin: 30px 0 10px 0;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            margin: 20px 0;
        }
    }
}

.mobile-sidebar-social {
    display: none;
    margin-top: 20px;

    @include media-breakpoint-down(sm) {
        display: block;
    }

    .social {
        margin-bottom: 20px;
    }
}

.dropdown-item.active, .dropdown-item:active {
    background: transparent;
    color: $text;
}
