.tab-product {

    @include media-breakpoint-down(sm) {
        display: none;
    }

    &__nav {
        width: 99.99%;
        padding-bottom: 15px;
        @include gradient($yellow-color, $site-color);
        display: flex;
        align-items: center;

        @media screen and (max-width: 840px) {
            flex-direction: column;
            padding-bottom: 5px;
        }

        li {
            &:nth-of-type(5),
            &:nth-of-type(6) {
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }

        .nav-item {
            flex-basis: auto;
            flex-grow: 1;
            min-width: 1px;

            @media screen and (max-width: 840px) {
                width: 100%;
            }

            .nav-link {
                background: $white;
                border-radius: 0;
                border: 0;
                font-size: 16px;
                color: $text;
                padding: 15px;
                text-align: center;

                &.active {
                    background: transparent;
                    color: $white;
                    text-shadow: 0 0 .65px $white, 0 0 .65px $white;
                }
            }
        }
    }

    &__content {
        padding-top: 15px;
        min-height: 350px;
    }
}

.accordion-product {
    display: none;

    @include media-breakpoint-down(sm) {
        display: block;
    }

    .card {
        margin-bottom: 15px;
        border: 0;
        border-radius: 0;
    }

    .card-header {
        border: 0;
        border-radius: 0;
        padding: 0;

        button {
            display: block;
            width: 100%;
            color: $text;
            text-decoration: none;
            padding: 15px;

            &:hover {
                opacity: 1;
            }

            &:focus {
                box-shadow: none;
            }

            &[aria-expanded="true"] {
                color: $white;
                @include gradient($yellow-color, $site-color);
            }

            &[aria-expanded="folse"] {
                background: red;
            }
        }
    }
}
