.tag {
    position: absolute;
    display: flex !important;
    align-items: center;
    top: 10px;
    left: 10px;
    z-index: 2;
    border-radius: 11px;
    background: $light-bg;
    padding: 3px 10px;
    color: $white;
    font-size: 10px;
    text-transform: uppercase;

    &:before {
        content: $icon-video;
        font-family: '#{$icomoon-font-family}';
        margin-right: 5px;
        line-height: 10px;
    }

    &.overview {
        background-color: rgb(56, 158, 153);
    }

    &.advice {
        background-color: rgb(132, 166, 42);

        &:before {
            content: $icon-message;
        }
    }

    &.tag-news {
        background-color: $site-color;

        &:before {
            content: $icon-notification;
        }
    }

    &.action {
        background-color: #c74a3d;
        border: 0;
        padding: 3px 10px;

        &:before {
            content: $icon-tag;
        }
    }

    &.super-price {
        background-color: #84a62a;

        &:before {
            content: $icon-like;
        }
    }

    &.discount {
        background-color: #c74a3d;

        &:before {
            content: $icon-percentage;
        }
    }

    &.present {
        background-color: #389e99;

        &:before {
            content: $icon-gift;
        }
    }

    &.new {
        background-color: $site-color;

        &:before {
            content: $icon-tag;
        }
    }

    &.bestseller {
        background-color: #feae02;

        &:before {
            content: $icon-star-light;
        }
    }

    &.credit {
        background-color: #84a62a;

        &:before {
            content: $icon-clock;
        }
    }

    &.cheaper-kit {
        background-color: #feae02;

        &:before {
            content: '1+1';
            line-height: 14px;
        }
    }
}

.tab-slider {
    .tag {
        top: 30px;
    }
}
