@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?gtd8gj');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?gtd8gj#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?gtd8gj') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?gtd8gj') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?gtd8gj##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-addition {
    &:before {
        content: $icon-addition;
    }
}
.icon-equal {
    &:before {
        content: $icon-equal;
    }
}
.icon-marker {
    &:before {
        content: $icon-marker;
    }
}
.icon-plus-bold {
    &:before {
        content: $icon-plus-bold;
    }
}
.icon-filter {
    &:before {
        content: $icon-filter;
    }
}
.icon-message {
    transform: scale(-1, 1);
    &:before {
        content: $icon-message;
    }
}
.icon-credit {
    &:before {
        content: $icon-credit;
    }
}
.icon-delivery {
    &:before {
        content: $icon-delivery;
    }
}
.icon-security {
    &:before {
        content: $icon-security;
    }
}
.icon-gift-full {
    &:before {
        content: $icon-gift-full;
    }
}
.icon-gift {
    &:before {
        content: $icon-gift;
    }
}
.icon-percentage {
    &:before {
        content: $icon-percentage;
    }
}
.icon-tag {
    &:before {
        content: $icon-tag;
    }
}
.icon-cart_done {
    &:before {
        content: $icon-cart_done;
    }
}
.icon-down-arrow1 {
    &:before {
        content: $icon-down-arrow1;
    }
}
.icon-refresh {
    &:before {
        content: $icon-refresh;
    }
}
.icon-up-arrow {
    &:before {
        content: $icon-up-arrow;
    }
}
.icon-dislike_full {
    &:before {
        content: $icon-dislike_full;
    }
}
.icon-dislike {
    &:before {
        content: $icon-dislike;
    }
}
.icon-add {
    &:before {
        content: $icon-add;
    }
}
.icon-arrow-circle {
    &:before {
        content: $icon-arrow-circle;
    }
}
.icon-arrow-down {
    &:before {
        content: $icon-arrow-down;
    }
}
.icon-balance {
    &:before {
        content: $icon-balance;
    }
}
.icon-call {
    &:before {
        content: $icon-call;
    }
}
.icon-cart {
    &:before {
        content: $icon-cart;
    }
}
.icon-check-circle {
    &:before {
        content: $icon-check-circle;
    }
}
.icon-check {
    &:before {
        content: $icon-check;
    }
}
.icon-checked {
    &:before {
        content: $icon-checked;
    }
}
.icon-circular-arrow {
    &:before {
        content: $icon-circular-arrow;
    }
}
.icon-clock {
    &:before {
        content: $icon-clock;
    }
}
.icon-desktop {
    &:before {
        content: $icon-desktop;
    }
}
.icon-down-arrow {
    &:before {
        content: $icon-down-arrow;
    }
}
.icon-equals {
    &:before {
        content: $icon-equals;
    }
}
.icon-fb {
    &:before {
        content: $icon-fb;
    }
}
.icon-google {
    &:before {
        content: $icon-google;
    }
}
.icon-heart {
    &:before {
        content: $icon-heart;
    }
}
.icon-inst {
    &:before {
        content: $icon-inst;
    }
}
.icon-like-full {
    &:before {
        content: $icon-like-full;
    }
}
.icon-like {
    &:before {
        content: $icon-like;
    }
}
.icon-list {
    &:before {
        content: $icon-list;
    }
}
.icon-login {
    &:before {
        content: $icon-login;
    }
}
.icon-mail {
    &:before {
        content: $icon-mail;
    }
}
.icon-menu {
    &:before {
        content: $icon-menu;
    }
}
.icon-menu1 {
    &:before {
        content: $icon-menu1;
    }
}
.icon-message1 {
    &:before {
        content: $icon-message1;
    }
}
.icon-next {
    &:before {
        content: $icon-next;
    }
}
.icon-notification {
    &:before {
        content: $icon-notification;
    }
}
.icon-phone {
    &:before {
        content: $icon-phone;
    }
}
.icon-speech {
    &:before {
        content: $icon-speech;
    }
}
.icon-star-light {
    &:before {
        content: $icon-star-light;
    }
}
.icon-star {
    &:before {
        content: $icon-star;
    }
}
.icon-video {
    &:before {
        content: $icon-video;
    }
}
.icon-youtube {
    &:before {
        content: $icon-youtube;
    }
}
.icon-check-double-solid {
    &:before {
        content: $icon-check-double-solid;
    }
}
.icon-clock-two {
    &:before {
        content: $icon-clock-two;
    }
}
.icon-desktop-solid {
    &:before {
        content: $icon-desktop-solid;
    }
}
.icon-search {
    &:before {
        content: $icon-search;
    }
}
.icon-times-circle-regular {
    &:before {
        content: $icon-times-circle-regular;
    }
}
.icon-times-solid {
    &:before {
        content: $icon-times-solid;
    }
}
