$icomoon-font-family: "kibet" !default;
$icomoon-font-path: "../../fonts/kibet" !default;

$icon-addition: "\e937";
$icon-equal: "\e938";
$icon-marker: "\e939";
$icon-plus-bold: "\e93a";
$icon-filter: "\e928";
$icon-message: "\e906";
$icon-credit: "\e933";
$icon-delivery: "\e934";
$icon-security: "\e935";
$icon-gift-full: "\e92f";
$icon-gift: "\e930";
$icon-percentage: "\e931";
$icon-tag: "\e932";
$icon-cart_done: "\e92b";
$icon-down-arrow1: "\e92c";
$icon-refresh: "\e92d";
$icon-up-arrow: "\e92e";
$icon-dislike_full: "\e929";
$icon-dislike: "\e92a";
$icon-add: "\e900";
$icon-arrow-circle: "\e901";
$icon-arrow-down: "\e902";
$icon-balance: "\e903";
$icon-call: "\e904";
$icon-cart: "\e905";
$icon-check-circle: "\e907";
$icon-check: "\e908";
$icon-checked: "\e909";
$icon-circular-arrow: "\e90a";
$icon-clock: "\e90b";
$icon-desktop: "\e90c";
$icon-down-arrow: "\e90d";
$icon-equals: "\e90e";
$icon-fb: "\e90f";
$icon-google: "\e910";
$icon-heart: "\e911";
$icon-inst: "\e912";
$icon-like-full: "\e913";
$icon-like: "\e914";
$icon-list: "\e915";
$icon-login: "\e916";
$icon-mail: "\e917";
$icon-menu: "\e918";
$icon-menu1: "\e919";
$icon-message1: "\e91a";
$icon-next: "\e91b";
$icon-notification: "\e91c";
$icon-phone: "\e91d";
$icon-speech: "\e91e";
$icon-star-light: "\e91f";
$icon-star: "\e920";
$icon-video: "\e921";
$icon-youtube: "\e922";
$icon-check-double-solid: "\e923";
$icon-clock-two: "\e924";
$icon-desktop-solid: "\e925";
$icon-search: "\e926";
$icon-times-circle-regular: "\e927";
$icon-times-solid: "\e936";

