@font-face {
    font-family: 'CenturyGothic';
    src:  url('../fonts/CenturyGothic/CenturyGothic.ttf'),
    url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic/CenturyGothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothicBold';
    src:  url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.ttf'),
    url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-Italic';
    src:  url('../fonts/CenturyGothic-Italic/CenturyGothic-Italic.ttf'),
    url('../fonts/CenturyGothic-Italic/CenturyGothic-Italic.woff') format('woff'),
    url('../fonts/CenturyGothic-Italic/CenturyGothic-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-BoldItalic';
    src:  url('../fonts/CenturyGothic-BoldItalic/CenturyGothic-BoldItalic.ttf'),
    url('../fonts/CenturyGothic-BoldItalic/CenturyGothic-BoldItalic.woff') format('woff'),
    url('../fonts/CenturyGothic-BoldItalic/CenturyGothic-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

