.feedback-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    @include media-breakpoint-down(sm) {
        display: block;
    }
}

.feedback {
    p {
        font-size: 14px;

        a {
            color: #5285cc;
        }
    }
}

.special-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $light-gray;
    border-radius: 4px;
    padding: 20px 30px;
    margin-top: 20px;

    @include media-breakpoint-down(md) {
        padding: 20px;
    }

    @media screen and (max-width: 840px) {
        display: block;
        text-align: center;
    }

    > div {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }

    .icon-addition,
    .icon-equals {
        &:before {
            font-size: 75px;
            color: $site-color;
        }
    }

    .icon-addition {
        &:before {
            content: '+'
        }
    }

    .icon-equals {
        &:before {
            content: '='
        }
    }

    .icon {
        margin: 0 10px;
    }
}

.special-product {
    display: flex !important;
    align-items: center;
    min-width: 300px;

    @include media-breakpoint-down(md) {
        min-width: 240px;
    }

    @media screen and (max-width: 840px) {
        justify-content: center;
    }

    &__title {
        font-size: 16px;
    }

    &__code {
        font-size: 14px;
    }

    &__img {
        height: 170px;
        margin-right: 15px;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

.special-product-slider {
    min-width: 300px!important;

    @media screen and (max-width: 840px) {
        margin: 20px 0;
    }

    @include media-breakpoint-down(xs) {
        min-width: 220px !important;
    }

    .slick-arrow {
        left: auto;
        right: auto;
        font-size: 30px;
        color: $site-color;
        width: 40px;
        transform: translateY(0);
        border-radius: 4px;

        &:hover {
            background: transparent;
        }

        @media screen and (max-width: 840px) {
            transform: translateY(-50%);
        }

    }

    .slick-next {
        top: auto;
        bottom: -10px;

        @media screen and (max-width: 840px) {
            top: 50%;
            bottom: auto;
            right: 0;
        }

        @include media-breakpoint-down(xs) {
            right: -35px;
        }

        i {
            transform: rotate(90deg);

            @media screen and (max-width: 840px) {
                display: inline-block;
                transform: rotate(-90deg);
            }
        }
    }

    .slick-prev {
        top: -10px;

        @media screen and (max-width: 840px) {
            top: 50%;
            left: 0;
        }

        @include media-breakpoint-down(xs) {
            left: -35px;
        }

        i {
            @media screen and (max-width: 840px) {
                display: inline-block;
                transform: rotate(90deg);
            }
        }
    }
}

.special-product-price {
    &__old {
        font-size: 16px;
        color: $text;
        font-family: $base-font-bold;
        text-decoration: line-through;
    }

    &__new {
        font-size: 30px;
        color: $site-color;
        font-family: $base-font-bold;
    }

    .btn {
        width: 200px;
    }
}
