.characteristics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray;
    padding: 10px;
    font-size: 15px;
    color: $text;

    @include media-breakpoint-down(sm) {
        font-size: 13px;
    }

    &__item {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 1px;
    }

    b {
        font-family: $base-font-bold;
    }
}

.characteristic-box {
    &.open {
        .characteristic-hide {
            height: auto;
            opacity: 1;
            margin-bottom: 20px;
        }

        .characteristics-link {
            display: none;
        }
    }
}

.characteristics-link {
    display: inline-block;
    margin-bottom: 10px;
}

.characteristic-hide {
    height: 0;
    opacity: 0;
    transition: $transition;
}
