.section-about-tab {
    padding-top: 30px;
}

.product-slider {

    @include media-breakpoint-down(xs) {
        margin-bottom: 15px;
    }

    .slick-dots {
        @include media-breakpoint-down(xs) {
            bottom: -15px;
        }
    }

    &__item {
        height: 400px;
        outline: none;

        @include media-breakpoint-down(md) {
            height: 300px;
        }

        @include media-breakpoint-down(sm) {
            height: 200px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            width: 100%;
            outline: none;


        }
    }
}

.product-slider-box {
    position: relative;
    padding-left: 100px;

    @include media-breakpoint-down(xs) {
        padding-left: 0;
    }

    .slick-track,
    .slick-list {
        height: 100%;
    }
}

.product-slider-nav {
    position: absolute;
    top: 0;
    left: -15px;
    height: 100%;

    @include media-breakpoint-down(xs) {
        display: none;
    }

    .slick-track {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }

    &__item {
        border: 2px solid $light-gray;
        margin-bottom: 10px;
        max-width: 90px;
        min-width: 90px;

        @include media-breakpoint-down(md) {
            min-width: 65px;
            margin-bottom: 5px;
        }

        &:focus {
            outline: none;
            border-color: $site-color;

        }
    }

    img {
        object-fit: contain;
        width: 100%;
    }
}

.product-info {

    @include media-breakpoint-down(sm) {
        margin-top: 15px;
    }

    .icon {
        font-size: 32px;
        color: $dark-gray;
        margin-right: 10px;

        &:hover {
            color: $site-color;
        }

        @include media-breakpoint-down(md) {
            margin-right: 0;
        }
    }

    .label {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        color: $green;
        background: #f1f9f1;
        border-radius: 3px;
        padding: 5px 10px;
        margin-bottom: 20px;

        &:before {
            content: $icon-check-circle;
            font-family: '#{$icomoon-font-family}';
            margin-right: 10px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;

        @include media-breakpoint-down(md) {
            justify-content: flex-start;
        }

        .btn {
            @include media-breakpoint-down(md) {
                margin-right: 25px;
            }
        }
    }

    &__share {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .share {
            margin-left: 15px;
        }
    }

    .share {
        position: relative;
        top: auto;
        left: auto;
        flex-direction: row;

        a {
            margin: 0 0 0 5px;

            &:first-child {
                margin: 0;
            }
        }
    }

    .btn-link {
        margin-top: 20px;

        @include media-breakpoint-down(md) {
            display: block;
        }
    }
}

.price {
    &__old {
        font-size: 16px;
        color: $text;
        font-family: $base-font-bold;
        text-decoration: line-through;
    }

    &__new {
        font-size: 30px;
        color: #c21717;
        font-family: $base-font-bold;
    }
}

.delivery {
    font-size: 14px;
    color: $text;
    background: #fafafa;
    padding: 15px;

    @include media-breakpoint-down(md) {
        display: flex;
        margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
        display: block;
    }

    &__title {
        display: flex;
        align-items: center;
        font-family: $base-font-bold;
        font-size: 14px;

        i {
            font-size: 25px;
            margin-right: 15px;
        }
    }

    &__content {
        margin-bottom: 15px;
        padding-left: 40px;
    }

    .dropdown-city {
        display: inline-block;
        font-family: $base-font-bold;
    }

    .marker {
        display: block;
        color: $light-text;
        margin: 10px 0;

        i {
            margin-right: 5px;
            color: $light-text;
        }
    }

    p {
        margin-bottom: 0.5rem;
    }
    .green {
        color: $green;
    }
}

.delivery-row {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 1px;
}
