.product-tabs {
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color: $site-color;
        text-shadow: 0 0 .65px $site-color, 0 0 .65px $site-color;
        border-color: transparent;
    }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
        border-color: transparent;
        color: $site-color;
    }
    .nav-tabs .nav-item {
        margin-bottom: 0;
    }

    .tab-content {
        padding-top: 20px;
    }

    .nav.nav-tabs {
        @include media-breakpoint-down(sm) {
            display: block;
        }

        .nav-link {
            @include media-breakpoint-down(sm) {
                padding: 0.5rem 0;
            }
        }
    }
}

.characteristic-box,
.feedback {
    @include media-breakpoint-down(md) {
        max-width: 70%;
        margin-top: 30px;
    }

    @include media-breakpoint-down(sm) {
        max-width: 100%;
    }
}

.product-container {
    h5 {
        margin: 20px 0;

        @include media-breakpoint-down(sm) {
            margin: 10px 0;
        }
    }
}
