.product-sidebar {
    padding: 15px;
    background: $light-bg;

    @include media-breakpoint-down(md) {
        margin-top: 20px;
    }

    .price-action__old {
        font-family: $base-font-bold;
        color: $text;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $light-gray;
        padding-bottom: 15px;
    }

    &__img {
        object-fit: cover;
        width: 50px;
        margin-right: 15px;
    }

    &__title {
        font-size: 16px;
        @include textOverflowMultiLine(23px, 3);
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;

        .goods-price {
            margin-top: 0;
        }
    }

    &__icon {
        a {
            font-size: 30px;
            margin-left: 15px;
        }
    }

    &__btn {
        padding: 15px;
        width: 100%;

        button {
            width: 100%;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &__info {
        .report__icon {
            @include media-breakpoint-down(md) {
                width: auto;
                padding: 0 20px;
            }

            .text-mobile {
                display: none;
                font-family: $base-font;

                @include media-breakpoint-down(md) {
                    display: inline-block;
                }
            }
        }

        .report {
            display: none;
        }

        &.inactive {
            .product-sidebar__btn,
            .price-action__old {
                display: none;
            }

            .price-action__new {
                color: $text;
            }

            .report {
                display: flex;
            }
        }
    }
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block;    /* undo display:none          */
    height: 0;         /* height:0 is also invisible */
    overflow: hidden;  /* no-overflow                */
}
.tab-content > .active, .pill-content > .active {
    height: auto;      /* let the content decide it  */
}
