.rating-container .filled-stars {
    color: $site-color;
    text-shadow: none;
    -webkit-text-stroke: 0 #f3f3f3;
}

.rating-container .caption {
    display: block;
    width: 220px;
    text-align: center;
    font-size: 12px;
}
