.reviews {
    @extend .news;
    padding: 5px;

    &__title {
        @extend .news__title;
        margin-top: 10px;
    }
}

.review-container {
    .more {
        font-size: 18px;
    }
}

.review {
    margin-bottom: 20px;

    &__form {
        position: relative;
        height: 0;
        opacity: 0;
        transition: $transition;
        z-index: -1;

        &.open {
            padding: 15px;
            height: auto;
            opacity: 1;
            z-index: 1;
        }

        input {
            margin-bottom: 15px;
        }
    }

    &__text {
        &--info {
            margin: 20px 0;

            b {
                display: block;
                font-family: $base-font-bold;
                color: $text;
            }
        }
    }

    .rating-star {
        display: flex;
        padding: 10px 15px;
        margin-top: 15px;

        &.one {
            .icon-star {
                &:nth-child(1) {
                    color: $site-color;
                }
            }
        }

        &.two {
            .icon-star {
                &:nth-child(1),
                &:nth-child(2) {
                    color: $site-color;
                }
            }
        }

        &.three {
            .icon-star {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    color: $site-color;
                }
            }
        }

        &.four {
            .icon-star {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    color: $site-color;
                }
            }
        }

        &.five {
            .icon-star {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    color: $site-color;
                }
            }
        }

        .icon-star {
            margin-left: 10px;
            color: #f3f3f3;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.review-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 30px 0;

    @include media-breakpoint-down(sm) {
        display: block;
        margin: 10px 0;
    }
}


.review-list {
    padding: 10px;

    &.open {
        .review-list__link {
            display: none;
        }

        .review-list__hide {
            height: auto;
            opacity: 1;
            z-index: 1;
        }
    }

    &__hide {
        height: 0;
        opacity: 0;
        transition: $transition;
        z-index: -2;

        .review {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        font-size: 14px;
        text-decoration: underline;
        color: $site-color;
        text-align: center;
    }

    .review__head {
        border-bottom: 0;
    }

    .review__text {
        padding: 0 15px 10px 15px;
    }

    .review__title {
        &:before {
            display: none;
        }
    }
}
