.action {
    display: block;
    padding: 7px;
    border: 1px solid $light-gray;
    margin-bottom: 30px;

    &:hover {
        .action__info {
            color: $text;
        }
    }
    .tag {
        top: 17px;
        left: 30px;
    }

    &__img {
        object-fit: cover;
        height: 280px;
        width: 100%;

        @include media-breakpoint-down(md) {
            width: 100%;
            object-fit: contain;
        }
    }

    &__title {
        display: block;
        font-size: 16px;
        margin: 10px 0;
        @include textOverflowMultiLine(20px, 2);
        min-height: 40px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__left {
        font-size: 14px;
        border-radius: 20px;
        background: $light-bg;
        padding: 5px 10px;

        span {
            font-family: $base-font-bold;
        }

        .red {
            color: #ff0000;
        }
    }

    &__period {
        font-size: 14px;

        span {
            display: block;
        }
    }
}

.filter-mobile {
    display: none;
    padding: 10px 0;
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $light-gray;

    @include media-breakpoint-down(sm) {
        display: block;
    }

    &__icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 33px;
        color: $white;
        @include gradient($yellow-color, $site-color);
        border-radius: 40px;
        margin-right: 10px;
    }
}

.actions-container {
    .filter {
        @include media-breakpoint-down(md) {
            margin-bottom: 15px;
        }
    }

    .filter-mobile {
        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    .filter-content {
        @include media-breakpoint-down(md) {
            height: 0;
            opacity: 0;
        }
    }

    .filter-content.open {
        @include media-breakpoint-down(md) {
            height: auto;
            opacity: 1;
        }
    }
}
