
.number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
        width: 140px;
        margin: 0 15px;
    }

    .minus,
    .plus,
    &__input {
        border: 1px solid $light-gray;
        text-align: center;
        width: 45px;
        height: 42px;
        line-height: 40px;
        font-size: 17px;
        color: $text;
    }

    .minus {
        border-radius: 3px 0 0 3px;
    }

    .plus {
        border-radius: 0 3px 3px 0;
    }

    &__input {
        width: 50px;
        background: transparent;
        border-radius: 0;
        border-right: 0;
        border-left: 0;

        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
        }
    }
}

.basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
        display: block;
        border-bottom: 1px solid $light-gray;
        padding-bottom: 15px;
    }

    &__img {
        width: 140px;
    }

    &__price {
        font-size: 18px;
        font-family: $base-font-bold;
    }

    &__bottom {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $light-bg;
        padding: 20px;

        @include media-breakpoint-down(sm) {
            display: block;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1px;
            height: 50%;
            background-color: $light-gray;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &--input {
            display: flex;
            align-items: center;

            @include media-breakpoint-down(md) {
                display: block;
            }

            span {
                font-size: 18px;
                font-family: $base-font-bold;
                margin-right: 20px;
            }
        }
    }

    &__cancel {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.input-basket-box {
    display: flex;
    align-items: center;

    input {
        border: 1px solid $light-gray;
        border-radius: 3px 0 0 3px;

        @include media-breakpoint-down(sm) {
            margin: 0;
        }
    }

    button {
        height: 42px;
        line-height: 42px;
        width: 40px;
    }
}

.total {
    &__title {
        font-size: 30px;
        font-family: $base-font-bold;
        margin-bottom: 15px;

        span {
            color: $site-color;
        }
    }
}
