.category-link-list {
    li {
        border-bottom: 1px solid $light-gray;

        a {
            display: block;
            font-size: 18px;
            color: $text;
            padding: 10px;

            &:hover {
                color: $hover-text;
                text-shadow: 0 0 .65px $hover-text, 0 0 .65px $hover-text;
            }
        }
    }
}

.category-action {
    display: block;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
        display: none;
    }

    &.mobile {
        display: none;

        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

.category {
    display: block;
    text-align: center;

    &__img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 135px;
    }

    &__title {
        display: block;
        font-size: 16px;
        color: $site-color;
        border-bottom: 1px solid $light-gray;
        padding: 10px 0;

        @include media-breakpoint-down(sm) {
            border-bottom: 0;
            margin-bottom: 10px;
        }
    }

    &__list {
        padding: 10px 0;

        li {
            a {
                font-size: 14px;
                color: $text;

                &:hover {
                    color: $site-color;
                }
            }
        }
    }
}

.category-container,
.catalog-container {
    .flex20 {
        @include media-breakpoint-down(md) {
            flex: 0 0 25%;
            max-width: 25%;
        }
        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .flex80 {
        @include media-breakpoint-down(md) {
            flex: 0 0 75%;
            max-width: 75%;
        }

        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
