.catalog-container {
    .more-news {
        font-size: 22px;

        @include media-breakpoint-down(sm) {
            font-size: 18px;
        }
    }
}

.sort-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 15px;

    @include media-breakpoint-down(md) {
        padding-bottom: 10px;
    }

    @include media-breakpoint-down(sm) {
        display: block;
        margin-top: 10px;
    }

    .dropdown.ml-3 {
        margin: 0 !important;
    }

    .dropdown.show {
        .dropdown-sort {
            &:after {
                content: $icon-up-arrow;
            }
        }
    }

    .dropdown-item {
        &:hover {
            color: $site-color;
        }
    }
}

.dropdown-sort {
    position: relative;
    @extend input;
    color: $text;
    padding-right: 38px;
    height: 41px;

    &:hover {
        color: $text;
    }

    @include media-breakpoint-down(sm) {
        margin: 10px 0 0 0;
    }

    &:after {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        content: $icon-down-arrow1;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        background-color: #f2f2f2;
        border: 0;
        font-family: '#{$icomoon-font-family}';
        color: $site-color;
    }
}

.pagination {
    justify-content: center;

    .page-link {
        border: 0;
        color: $site-color;
        font-size: 18px;
        border-radius: 3px;

        &:focus {
            box-shadow: none;
        }

        &:hover {
            @include media-breakpoint-down(sm) {
                background: transparent;
                outline: none;
            }
        }
    }
}

.page-item.active .page-link {
    border-bottom-color: $site-color;
    background-color: $site-color;
}

.viewed-slider,
.base-slider {
    .goods-box {
        margin: 10px;

        &:hover {
            overflow: hidden;

            .goods-slider {
                .slick-arrow {
                    opacity: 1;
                }
            }
        }
    }

    .goods {
        top: -10px;
        left: -10px;
        right: -10px;
    }
}

.catalog-text {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.base-slider,
.buy-together {
    .goods-actions {
        justify-content: center;

        .goods__icon {
            font-size: 18px;

            &:first-child {
                &:after {
                    content: '|';
                    margin: 0 10px;
                    color: $light-text;
                }
            }
        }
    }
}

.goods-slider {
    //width: 240px;

    .slick-slide {
        height: 135px;
        object-fit: contain;
        margin-bottom: 15px;
        outline: none;
    }

    .slick-arrow {
        opacity: 0;
        transition: $transition;
        color: $site-color;

        &:hover {
            color: $white;
        }
    }
}

.goods-box {

    &:hover {

        .goods-slider {
            .slick-arrow {
                opacity: 1;
            }
        }
    }
}
