.home-page {
    .category-select {
        .dropdown-menu {
            display: block;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

       .dropdown-category.show {
           .dropdown-menu {
               @include media-breakpoint-down(md) {
                   display: block;
               }
           }
       }
    }

    .news {
     padding:10px;
        &.mini {
            .news__action {
                height: 180px;
            }
        }
    }

    .index-slider-mobile {
        display: none;
        margin: 0 -15px;

        @media screen and (max-width: 840px) {
            display: block;
        }
    }
}

.index-slider-mobile {
    display: none;
}

.home-news-text {
    text-align: justify;
}

#category5,
#category6,
#category7 {
    @include media-breakpoint-down(md) {
        display: none;
    }
}
