.news {
    display: block;
    padding: 20px;
    border: 1px solid $light-gray;
    margin-bottom: 30px;

    @include media-breakpoint-down(md) {
        padding: 10px;
        margin-bottom: 15px;
    }

    &:hover {
        .news__title {
            color: $site-color;
        }
    }

    &.mini {
        .news__action {
            height: 220px;
        }
    }

    &__action {
        display: block;
        position: relative;
        height: 330px;

        @include media-breakpoint-down(sm) {
            height: 160px;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        margin-top: 20px;
        color: $text;
        @include textOverflowMultiLine(22px, 2);
        min-height: 44px;

        @include media-breakpoint-down(sm) {
            margin-top: 0;
        }
    }
}

.row-link {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
        margin: 10px 0;
    }

    a {
        margin-left: 10px;

        @include media-breakpoint-down(sm) {
            margin-left: 5px;
        }

        &.active {
            text-shadow: 0 0 .65px $hover-text, 0 0 .65px $hover-text;
        }

        &:first-child {
            margin-left: 0;
        }

        &:after {
            content: '|';
            margin-left: 10px;

            @include media-breakpoint-down(sm) {
                margin-left: 5px;
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &:hover {
            &:after {
                color: $text;
            }
        }
    }
}

.news {
    &.news-horizontal {
        display: flex;

        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

.news-horizontal {
    margin-bottom: 10px;

    .news__action {
        flex: 400px 0 0;
        height: 220px;

        @media screen and (max-width: 840px) {
            flex: 200px 0 0;
        }

        @include media-breakpoint-down(sm) {
            height: 160px;
        }
    }
}

.news-author {
    color: $light-text;
    display: flex;
    margin: 15px 0;

    @include media-breakpoint-down(sm) {
        margin: 0 0 10px 0;
    }

    span {
        margin-left: 5px;

        &:after {
            content: '|';
            margin-left: 5px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.news-info {
    padding-left: 20px;
}

.news-text {
    font-size: 14px;
    color: $text;
    @include textOverflowMultiLine(22px, 4);
}

.more-news,
.more {
    &:before {
        display: inline-block;
        content: $icon-arrow-circle;
        font-family: '#{$icomoon-font-family}';
        color: $site-color;
        margin-right: 10px;
        transform: rotateY(180deg);
    }
}

.accordion-news {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 0;
        color: $text;
        border-bottom: 1px solid $light-gray;
        background: transparent;
        padding: 10px 0;

        &:hover {
            text-shadow: 0 0 .65px $hover-text, 0 0 .65px $hover-text;
            color: $hover-text;

            @include media-breakpoint-down(sm) {
                text-shadow: none;
                color: $text;
                opacity: 1;
            }
        }

        &:after {
            content: $icon-next;
            font-family: '#{$icomoon-font-family}';
            transform: rotate(90deg);
            color: $site-color;
            transition: $transition;
            font-size: 13px;
        }

        &.show {
            text-shadow: 0 0 .65px $hover-text, 0 0 .65px $hover-text;
            color: $hover-text;

            @include media-breakpoint-down(sm) {
                text-shadow: none;
                color: $text;
                opacity: 1;
            }

            &:after {
                transform: rotate(270deg);
            }
        }


    }

    &__list {
        padding-left: 10px;

        li {
            border-bottom: 1px solid $light-gray;
            padding: 5px 0;
        }
    }
}

.accordion-news-desc {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.accordion-news-mobile {
    display: none;

    @include media-breakpoint-down(sm) {
        display: block;
    }
}

.mobile-slider-news {
    display: none;

    @include media-breakpoint-down(sm) {
        display: block;
    }

    .news {
        position: relative;
        padding: 0;
        border: 0;
    }

    .news__title {
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
        color: $white;
        font-family: $base-font-bold;
    }

    .slick-dots {
        bottom: 20px;
    }
}
