.stock {
    color: $text;
    font-size: 14px;

    @include media-breakpoint-down(sm) {
        margin-top: 20px;
    }

    &__title {
        font-size: 30px;
        line-height: 42px;
        font-family: $base-font-bold;
        margin-bottom: 20px;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }

    &__date {
        font-size: 40px;
        text-transform: uppercase;
    }
    &__period {
        color: $light-text;
        margin-top: 20px;

        @include media-breakpoint-down(sm) {
            margin-top: 0;
        }
    }

    &__active-title {
        color: $site-color;
        font-size: 18px;
    }
}

.stock-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray;
    padding: 10px 0;

    @include media-breakpoint-down(sm) {
        display: block;
        margin: 15px 0;
    }

    a {
        color: $site-color;
    }

    .share {
        position: relative;
        left: auto;
        top: auto;
        flex-direction: row;

        @include media-breakpoint-down(sm) {
            margin-top: 10px;
        }

        a {
            color: $white;
            margin: 0 0 0 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.stock-text {
    margin-top: 40px;

    @include media-breakpoint-down(sm) {
        margin-top: 20px;
    }

    p {
        font-size: 18px;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    span {
        display: block;
        font-size: 14px;
        margin-bottom: 15px;
    }
}
