.article-content {
    position: relative;

    .news__img {
        width: 100%;
        margin-bottom: 40px;
    }

    .main-img {
        @include media-breakpoint-down(lg) {
            margin: 0 0 20px 40px;
            width: calc(100% - 40px);
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            margin: 0 0 15px 0;
        }
    }
}

.share {
    position: absolute;
    top: 30px;
    left: -50px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(lg) {
        left: 0;
    }

    @include media-breakpoint-down(sm) {
        left: auto;
        right: 0;
        top: -40px;
        flex-direction: row;
    }

    &__link {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 10px;
        border-radius: 50%;
        color: $white;

        @include media-breakpoint-down(sm) {
            margin-left: 10px;
        }

        &:hover {
            color: $white;
            opacity: 0.8;
        }

        &.icon-fb {
            background-color: $color-fb;
        }

        &.icon-inst {
            background: rgb(254,137,3);
            background: -moz-linear-gradient(left, rgb(254,137,3) 1%, rgb(150,72,229) 100%);
            background: -webkit-linear-gradient(left, rgb(254,137,3) 1%,rgb(150,72,229) 100%);
            background: linear-gradient(to right, rgb(254,137,3) 1%,rgb(150,72,229) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8903', endColorstr='#9648e7',GradientType=1 );
        }

        &.icon-youtube {
            background-color: $color-you-tube;
        }
    }
}

.comments-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;

    @include media-breakpoint-down(xs) {
        display: block;
    }
}

.comment-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
        display: block;
    }

    .btn {
        flex: 200px 0 0;

        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
    }

    a {
        color: #5285cc;
    }
}

.enter-through {
    display: flex;
    align-items: center;

    &__link {
        display: inline-block;
        width: 30px;
        height: 30px;
        color: $white;
        text-align: center;
        line-height: 28px;
        border-radius: 50%;
        margin-left: 15px;

        &:hover {
            color: $white;
            opacity: 0.8;
        }

        &:before {
            font-size: 15px;
        }

        &.icon-google {
            background: $color-google;
        }

        &.icon-fb {
            background: $color-fb;
        }
    }
}

.news-comments,
.review {
    border: 1px solid $light-gray;
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
        border-bottom: 1px solid $light-gray;
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;

        &:before {
            content: $icon-cart_done;
            font-family: '#{$icomoon-font-family}';
            font-size: 20px;
            color: $site-color;
            margin-right: 5px;
        }
    }

    &__date {
        color: $light-text;
        font-size: 12px;
    }

    &__text {
        color: $light-text;
        font-size: 14px;
        padding: 15px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px 15px 15px;
    }
}

.answer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 14px;
}

.answer {
    color: #000;
    font-size: 14px;
    margin-right: 40px;

    @include media-breakpoint-down(sm) {
        margin-right: 15px;
    }

    &:before {
        display: inline-block;
        content: $icon-arrow-down;
        font-family: '#{$icomoon-font-family}';
        color: $site-color;
        margin-right: 5px;
        font-size: 14px;
        transform: rotate(-90deg) rotateY(180deg);
    }
}

.like-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .like-link {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 14px;
        margin-left: 15px;
        font-family: $base-font;

        i {
            margin-right: 5px;
            transition: $transition;
            font-size: 17px;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.like {
    &:hover {
        i {
            transition: $transition;

            &:before {
                content: $icon-like-full;
                color: $site-color;
            }
        }
    }
}

.dislike {
    &:hover {
        i {
            &:before {
                content: $icon-dislike_full;
                color: $site-color;
            }
        }
    }
}

.banner {
    margin-bottom: 15px;
}
